<!-- Track Player button -->
<style>
  .track-player {
    display: flex;
    align-items: center;
  }
  .track-button {
    display: inline-block;
    padding: 1rem;
  }
  .track-button img {
    width: 2rem;
  }
  .track-duration {
    margin-right: 1rem;
  }
  .track-progress {
    width: 3rem;
    height: 5px;
    background-color: gray;
    margin: 0 1rem;
  }
  .track-progress-bar {
    height: 100%;
    background-color: #f88379;
  }
</style>


<!-- Text Split -->
<style>
[text-split] {opacity: 0;}
html.w-editor [text-split] {opacity: 1;}

.word {
	overflow: hidden;
  padding-bottom: 0.1em;
  margin-bottom: -0.1em;
  transform-origin: bottom;
}
</style>


<style>
[text-split] {opacity: 0;}
html.w-editor [text-split] {opacity: 1;}

.word {
	overflow: hidden;
  padding-bottom: 0.1em;
  margin-bottom: -0.1em;
  transform-origin: bottom;
}
</style>


<!-- CSS for Locomotive Scroll --> 
<style>

#text-container {
  position: relative;
  height: 200px;
}

.text-element {
  position: absolute;
  top: -50px; /* Adjust this value based on the data-scroll-offset attribute */
}

</style>